body {
  background-color: #928a8a;
}
a:link {
  text-decoration: none; 
}
a:visited {
  color: blue;
  text-decoration: none; 
}
a:hover {
  font-weight: bold; 
}
img {
  border: 0px;
}
#mainD {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.roundedCornerBQ {
  max-width: 650px;
  background: url(../image/base/rcdsBG.png) right repeat-y;
}
.roundedCornerBQ::before {
  display: block;
  line-height: 0;
  background: url(../image/base/rcdsNE.png) top right no-repeat;
  content: url(../image/base/rcdsNW.png) 
}
.roundedCornerBQ::after {
  display: block;
  line-height: 0;
  background: url(../image/base/rcdsSE.png) bottom right no-repeat;
  content: url(../image/base/rcdsSW.png) 
}

#logoD {
  background-color: #f1ede4;
  border-color: #b8b5ae;
  border-style: dotted;
  border-width: 2px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 35px;
  text-align: center;
}
#contentD {
  background-color: #f1ede4;
  border-color: #b8b5ae;
  border-style: dotted;
  border-width: 2px;
  font-size: 12px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 35px;
  padding: 2px;
}
#navigationD {
  background-color: #f1ede4;
  border-color: #b8b5ae;
  border-style: dotted;
  border-width: 2px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 15px;
  margin-right: 35px;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
}
#footerD {
  background-color: #f1ede4;
  border-color: #b8b5ae;
  border-style: dotted;
  border-width: 2px;
  font-family: Arial;
  font-size: xx-small;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 35px;
  padding: 1px;
  text-align: center;
}

#warningD {
  background-color: #f1b6b6;
  border-color: #e05757;
  border-style: solid;
  font-weight: normal;
  margin-right: 10px;
  padding: 1px;
  text-align: left;
  width: 250px;
}
#warningIMG {
  padding: 1px;
  float: right;
}

#leftFloat {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}
#rightFloat {
  float: right;
  margin-left: 3px;
  margin-right: 3px;
}
