body {
  background: #464646 url('image/body_background.jpg') no-repeat center center;
  margin: 0px;
}

pre {
  margin: 0px;
}

/* measure the ends of the shadow(s) here for auto center +6 for outer shift */
#container { width: 764px;
  font-family: sans-serif;
  font-size: 8pt;
  margin: 0px auto 0px auto;
}
#container a {
  color: #0000e3;
  font-style: italic;
  text-decoration: none;
}
#container hr {
  margin-bottom: 2px;
  margin-top: 2px;
}
#container img {
  border-style: none;
  vertical-align: top;
}

.col_left,
.float_left,
.shadow_col_left,
.shadow_float_left {
  float: left;
}

.col_left,
.shadow_col_left { 
  margin-right: 18px;
}

.shadow,
.shadow_col_left,
.shadow_float_left {
  background-image: url('image/shadow.png');
  margin-top: 18px;
}

.outer,
.outer_icon_select { padding: 6px;
  background-color: #fffbe1;
  border: 3px solid #a6a495;
  position: relative;
  bottom: 6px;
  right: 6px;
}

.outer_icon_select {
  bottom: 3px;
  right: 3px;
}

.inner { padding: 2px;
  overflow: hidden;
}

.inner,
.inner_icon {
  border: 1px dotted #333;
  background: #ccc;
}

#inner_main { height: 431px; width: 576px;
  overflow-y: auto;
}

.main_insert { padding: 2px;
  background: white;
  border: 2px outset;
  float: right;
  margin: 4px;
  font-size: x-small;
}

#panel_icon { width: 256px; }

.inner_icon { height: 26px; width: 26px; }

#inner_apps { height: 86px; width: 320px;
  font-size: x-small;
  /*overflow: auto;*/
}

#inner_clock { height: 14px; width: 116px;
  font-weight: bold;
  text-align: center;
}

#inner_menu { height: 295px; width: 116px;
  font-size: 14pt;
  font-weight: bold;
}
#inner_menu a {
  color: white;
  text-shadow: black 0.2em 0.2em 0.2em;
}
#inner_menu a:hover {
  color: gold;
}
#inner_menu hr { margin-bottom: 10px; }

#inner_user { height: 38px; width: 116px;
  font-size: x-small;
  text-align: center;
}
#inner_user div { width: 116px;
  position: absolute;
  bottom: 10px;
  overflow: hidden;
}
#inner_user input { width: 108px; }

#inner_logo { height: 86px;
  background: black url('image/logo.jpg') no-repeat center center;
  border-color: #bbb;
  color: white;
  font-family: monospace;
  font-size: x-small;
  text-align: center;
}
#inner_logo div { width: 116px;
  position: absolute;
  bottom: 10px;
  overflow: hidden;
}
#inner_logo a {
  color: white;
  font-style: normal;
}
